<h1>StudyHabits Account Activation</h1>

<p>
  Hi <%= @user.username %>,

  Welcome to StudyHabits. Click on the link below to activate your account:

  <%= edit_account_activation_url(@user.get_token, email: @user.email) %>
</p>
