body {
  display: flex;
  flex-direction: column;
}

main {
  min-height: 70vh;
  /*flex: 1 0 auto;*/
}

html {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

.about-section {
  margin-top: 1%;
}

.no-preferences-alert {
  font-style: italic;
  padding: 1%;
  width: 75%;
  margin: 0 auto 2% auto;
  border-radius: 20px;
  color: white;
}

.about-section h5 {
  color: #4DB6AC;
}

.btn, .btn-large,
.btn-flat {
  border: none;
  border-radius: 20px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  /*text-transform: uppercase;*/
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn, .btn-large {
  font-size: 1.25em;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.splash-page, .register-page, .login-page {
  text-align: center;
}

/*.welcome-user {
  background-color: #e0e0e0;
  padding: 1%;
  border-radius: 20px;
}*/

.update-pref-heading, .center-text {
  text-align: center;
}

.start-study-button {
  text-align: center;
  margin-bottom: 3%;
}

.startSession {
  background-color: #e0e0e0;
  border-radius: 20px;
  min-height: 250px;
}

.loading-spinner {
  margin-top: 4%;
}

.pref-form-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

#preference-list {
  color: white;
}

.enterTheaterForm, .theater-container {
  padding-top: 2%;
}

.splash-icon {
  font-size: 4em;
}

#no-display {
  display: none;
}

.forgot-password {
  font-size: .75em;
}

.github-icon {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #4DB6AC;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}
