#timer-container {
  position: relative;
  margin: auto;
  border-radius: 10px;
  background-color: #e0e0e0;
  color: black;
  padding-left: 5%
}

#timer {
  position: absolute;
  height: 20px;
  width: 10px;
  background-color: #6CFF9E;
  opacity: 0.5;
  left: 0;
  top: 0;
  border-radius: 20px;
}
